In [10]:

# importing googlemaps module 
import googlemaps 
  
# Requires API key 
gmaps = googlemaps.Client(key='AIzaSyAbrgmvTphYGT-xBKOrt0sxiWxzQvcKV9Y')

In [13]:
#tem = gmaps.distance_matrix('Mumbai','Chennai')['rows'][0]['elements'][0]
#print(tem)

{'distance': {'text': '1,337 km', 'value': 1336852}, 'duration': {'text': '22 hours 30 mins', 'value': 80979}, 'status': 'OK'}

In [14]:
import numpy as np

In [15]:
def Distance_Time_Matrix(List):
        Ncities = len(List)
        Dist = []
        #Time = []
        for i in List:
            for j in List:
                if i==j :
                    dist_km = 0
                    time_hr = 0
                else:
                    dist_km = distance_places(i,j)#[0]
                    #time_hr = distance_places(i,j)#[1]
                Dist.append(dist_km)
                #Time.append(time_hr)
        Matrix_D = np.array(Dist).reshape(Ncities,Ncities)
        #Matrix_T = np.array(Time).reshape(Ncities,Ncities)     
        
        return Matrix_D#,Matrix_T

In [16]:
def distance_places(place1,place2):
        dist = gmaps.distance_matrix(place1,place2)['rows'][0]['elements'][0]
        return dist['distance']['value']/1000

In [17]:
di =  Distance_Time_Matrix(['Lyon','Marseille','Toulouse','Grenoble', 'Nantes', 'Strasbourg', 'Lille', 'Clermant-Ferrant', 'Bordeaux', 'Nice', 'Paris'])

In [18]:
di

array([[   0.   ,  314.19 ,  537.902,  111.392,  685.486,  492.495,
         690.953,  165.187,  556.31 ,  471.151,  466.049],
       [ 313.682,    0.   ,  403.715,  305.607,  985.69 ,  801.366,
         999.824,  473.715,  645.407,  198.825,  774.92 ],
       [ 537.754,  403.681,    0.   ,  529.679,  585.173,  942.491,
         894.6  ,  375.891,  244.89 ,  560.642,  679.108],
       [ 114.463,  306.363,  530.075,    0.   ,  793.236,  528.897,
         799.86 ,  272.937,  664.06 ,  463.324,  574.956],
       [ 685.314,  986.09 ,  584.866,  793.304,    0.   ,  865.43 ,
         599.998,  534.024,  346.925, 1143.051,  384.505],
       [ 492.819,  802.127,  943.959,  529.336,  865.312,    0.   ,
         524.716,  628.014,  943.078,  784.321,  490.244],
       [ 691.63 , 1000.938,  893.804,  801.422,  600.318,  524.834,
           0.   ,  638.426,  800.031, 1157.899,  225.202],
       [ 166.849,  474.617,  376.867,  274.839,  536.118,  630.179,
         639.369,    0.   ,  375.985,  631.578,  423.876],
       [ 556.279,  645.752,  244.529,  664.27 ,  353.465,  941.882,
         806.014,  375.282,    0.   ,  802.713,  590.522],
       [ 470.847,  198.105,  560.88 ,  462.772, 1142.855,  784.886,
        1156.989,  630.88 ,  802.572,    0.   ,  932.085],
       [ 465.612,  774.92 ,  678.081,  575.403,  384.595,  491.327,
         225.425,  422.703,  584.309,  931.881,    0.   ]])

In [19]:
import pandas as pd

In [20]:
maxt= pd.DataFrame(di)
maxt.columns = ['Lyon','Marseille','Toulouse','Grenoble', 'Nantes', 'Strasbourg', 'Lille', 'Clermant-Ferrant', 'Bordeaux', 'Nice', 'Paris']
maxt.index = list(maxt.columns)

In [21]:
maxt

,Lyon,Marseille,Toulouse,Grenoble,Nantes,Strasbourg,Lille,Clermant-Ferrant,Bordeaux,Nice,Paris
Lyon,0.00,314.19,537.90,111.39,685.49,492.50,690.95,165.19,556.31,471.15,466.05
Marseille,313.68,0.00,403.71,305.61,985.69,801.37,999.82,473.71,645.41,198.82,774.92
Toulouse,537.75,403.68,0.00,529.68,585.17,942.49,894.60,375.89,244.89,560.64,679.11
Grenoble,114.46,306.36,530.08,0.00,793.24,528.90,799.86,272.94,664.06,463.32,574.96
Nantes,685.31,986.09,584.87,793.30,0.00,865.43,600.00,534.02,346.93,1143.05,384.50
Strasbourg,492.82,802.13,943.96,529.34,865.31,0.00,524.72,628.01,943.08,784.32,490.24
Lille,691.63,1000.94,893.80,801.42,600.32,524.83,0.00,638.43,800.03,1157.90,225.20
Clermant-Ferrant,166.85,474.62,376.87,274.84,536.12,630.18,639.37,0.00,375.99,631.58,423.88
Bordeaux,556.28,645.75,244.53,664.27,353.46,941.88,806.01,375.28,0.00,802.71,590.52
Nice,470.85,198.10,560.88,462.77,1142.86,784.89,1156.99,630.88,802.57,0.00,932.09
Paris,465.61,774.92,678.08,575.40,384.60,491.33,225.43,422.70,584.31,931.88,0.00

In [22]:
maxt.to_csv('distance_matrix.csv')